<h1>partial form</h1>

<%= form_tag('/display_team_form') do %>
  <% @team_members.each do |player|  %>
    <li>
      <%= check_box_tag(name='team_member_ids[]', value=player.id) %>
      <%= player.name %>
    </li>
  <% end %>
  <%= submit_tag 'select team' %>
<% end %>