<h1 id="game-room", data-room-id="<%= @game.id  %>">Game Room</h1>

<p>
  <button id='button-1'>button 1</button>
</p>

<p>
  <button id="button-2">button 2</button>
</p>

<p>
  <button id="button-3">button 3</button>
</p>

<%= javascript_tag do %>
  $(document).ready(function(){
    initializeSubscription();
  });
<% end %>