<h1 id="game-room", data-room-id="<%= @game.id  %>", data-player-id="<%= @player.id  %>">Game Room</h1>


<div id="waiting-to-start-container">
  <p>
    <button id='button-1'>button 1</button>
  </p>

  <p>
    <button id="button-2">button 2</button>
  </p>

  <p>
    <button id="button-3">button 3</button>
  </p>


  <div id='waiting-players-section'>
    <h2 >players</h2>
    <ul id='waiting-players-list'>
      <% @game.players.each do |player| %>
        <p><%= player.name  %></p>
      <% end %>
    </ul>
  </div>

  <div id="start-game-section" class="hidden">
    <button id='start-game'>start game</button>
  </div>
</div>

<div id="game-in-play-container" class='hidden'>
  <h2>game in play section</h2>
  <div id="round-leader-team-selection-container" class='hidden'>
    <h2>in round leader selection container</h2>
  </div>
  <div id="go-nogo-vote-container"></div>
</div>



<%= javascript_tag do %>
  $(document).ready(function(){
    console.log('hello')
    initializeSubscription();
  });
<% end %>